.flex-ato{
    flex: auto;
}

section {
    margin: 3rem auto;
   
}
.container h3{
    font-size: 50px;
    text-align: center;
    margin: 30px auto;
}
.container p {
    font-size: 30px;
    text-align: center;
}